@model Abstractions.ViewModels.MainMapVm

<main id="main">
    <div class="levels-div">
        <span class="levels-span">Этаж:</span>
        @foreach (var level in Model.Levels)
        {
            // Todo : добавить добавление класса, если этажи равны
            if (level.Id == Model.CurrentLevelId)
            {
                <button class="level-btn currentLevel" type="submit">
                    @Ajax.ActionLink(level.Number.ToString(), "GetMap", "MainMap", new { levelId = level.Id },
                    new AjaxOptions { UpdateTargetId = "main" })
                </button>
            }
            else
            {
                <button class="level-btn" type="submit">
                    @Ajax.ActionLink(level.Number.ToString(), "GetMap", "MainMap", new { levelId = level.Id },
                    new AjaxOptions { UpdateTargetId = "main" })
                </button>
            }

        }
    </div>

    <div class="svg-div" id="map">
        <svg viewBox="525 0 400 400">
            <polygon class="border-plg" points="@Model.BorderString" stroke="black" />
            @foreach (var room in (Model.Rooms))
            {
                <polyline class="room" points="@room.BorderString" />
            }
            @foreach (var stairs in (Model.Stairs))
            {
                <polyline points="@stairs.BorderString" />
            }
        </svg>
    </div>
</main>