<!-- <div class="main-div"> -->
@model Abstractions.ViewModels.MainMapVm

<header>
    <div class="header-div">
        <!--Логотип-->
        <img src="/Content/img/logo.svg" alt="Логотип" class="logo">

        <!--Поле поиска с кнопками-->
        <div class="search-div flex-itm">
            @using (Ajax.BeginForm("Get", new AjaxOptions { UpdateTargetId = "primer2" }))
            {
                <div class="input-div">
                    <input type="text" id="search-from" class="search-from" placeholder="Откуда" name="input1">
                    <button id="change-btn" class="change-btn">
                        <img src="/Content/img/change.svg" alt="Поменять" class="change-img">
                    </button>
                    <input type="text" id="search-to" class="search-to" placeholder="Куда">
                </div>
                <div class="btn-div">
                    <button id="search-btn" class="btn search-btn primary-btn">Поиск</button>
                    <button id="btn-reset" class="btn reset-btn">Сбросить</button>
                </div>
            }
            </div>
        <div id="primer2"></div>
    </div>
</header>
<main id="main">
    <div class="levels-div">
        <span class="levels-span">Этаж:</span>
        @foreach (var level in Model.Levels)
        {
            // Todo : добавить добавление класса, если этажи равны
            if (level.Id == Model.CurrentLevelId)
            {
                <button class="level-btn currentLevel" type="submit">
                    @Ajax.ActionLink(level.Number.ToString(), "GetMap", "MainMap", new { levelId = level.Id },
                    new AjaxOptions { UpdateTargetId = "main" })
                </button>
            }
            else
            {
                <button class="level-btn" type="submit">
                    @Ajax.ActionLink(level.Number.ToString(), "GetMap", "MainMap", new { levelId = level.Id },
                    new AjaxOptions { UpdateTargetId = "main" })
                </button>
            }

        }
    </div>
    <!-- <img src="/Content/img/russia.svg" alt="" class="maps"> -->
    <!-- viewBox="0 0 400 400" -->
    <div class="svg-div" id="map">
        <svg viewBox="525 0 400 400">
            <polygon class="border-plg" points="@Model.BorderString" stroke="black" />
            @foreach (var room in (Model.Rooms))
            {
                <polyline class="room" points="@room.BorderString" />
            }
            @foreach (var stairs in (Model.Stairs))
            {
                <polyline points="@stairs.BorderString" />
            }
        </svg>
    </div>
    <!-- <object type="image/svg+xml" data="/Content/img/russia.svg" id="object"></object> -->
</main>
<footer>
    <div class="footer-div">
        <img src="/Content/img/logo.svg" alt="Логотип" class="logo flex-itm">
        <div class="social-links">
            <a href="https://mpei.ru/Pages/default.aspx" target="_blank" class="social-link">Официальный сайт</a>
            <a href="http://profcom.mpei.ru/" target="_blank" class="social-link">Профком студентов</a>
            <a href="https://vk.com/overhear_first_energy" target="_blank" class="social-link">Подслушано МЭИ</a>
        </div>
    </div>
</footer>
<!-- </div> -->